body { 
    color: rgb(0, 0, 0);
    background-color: #eee;
    padding: 20px;
    font-family: verdana;
}

header, main, footer{
    border: 1px solid rgb(255, 0, 106);
    margin-bottom: 40px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 40px;
}

.center-paragraph{
    margin: 0 auto;
    width: 50%;
}



.navigatie li{
display: inline;
background-color: #820094;
font-size: 18px;
margin: 10px;
}

.navigatie li a{
color: #fff;
text-decoration: none;
}

#green-background {
    background-color: green;
}

#red-background {
    background-color: #FE0024;
    padding: 10px;
    font-size: 20px;

}

#orange-background {
    background-color: #FC7C00;
    padding: 10px;
    font-size: 20px;
}

#yellow-background {
    background-color: #FFEF03;
    padding: 10px;
    font-size: 20px;
}

#blue-background {
    background-color: #0162A6;
}

#purple-background{
    background-color: #820094;
}

.title{
    color: #dd55ff;
}

img{
    border-radius: 8px 25%;
    box-shadow: 1px 1px 10px #000;
}

.inspringen{
    margin: 20px 0 0 50px;
    border-left: 15px solid #ff0000;
    padding: 0 0 0 10px; 
}

.linkje{
    font-weight: 700;
    color: #00ff00;
}


@media (min-width: 1024px) {
    body { 
        color: rgb(209, 209, 209);
        background-color: rgb(126, 126, 126);
        padding: 20px;
        font-size: 0.8em;
        line-height: 2.5;
    } 
}